.user-profile-wrapper {
  .list-motel {
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        color: rgb(60, 60, 60);
        font-size: 20px;
        font-weight: 700;
        .motel {
          border-radius: 10px;
          margin: 15px 0;
          padding: 5px;
          text-align: start;

          .motel-name {
            align-items: center;
            display: flex;
            font-weight: 500;
          }
          .motel-phonenumber{
            align-items: center;
            display: flex;
            font-weight: 400;
          }
          .motel-new,
          .motel-edit,
          .motel-remove {
            cursor: pointer;
            display: flex;
            justify-content: end;
            align-items: center;
          }
        }
        &:nth-child(even) {
          .motel {
            background: #ffffff;
            border: 1px solid rgb(188, 188, 188);
          }
        }
        &:nth-child(odd) {
          .motel {
            background: #ffffff;
            border: 1px solid rgb(188, 188, 188);
          }
        }
      }
    }
  }
}

.title-abc {
  color: rgb(0, 183, 255);
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}


