.user-profile-wrapper {
  .list-motel {
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        color: white;
        .motel {
          border-radius: 10px;
          margin: 15px 0;
          padding: 5px;
          text-align: center;
          .motel-name {
            align-items: center;
            display: flex;
            justify-content: center;
          }
          .motel-new,
          .motel-edit,
          .motel-remove {
            cursor: pointer;
          }
        }
        &:nth-child(even) {
          .motel {
            background: #457bc5;
          }
        }
        &:nth-child(odd) {
          .motel {
            background: #bcdfc1;
          }
        }
      }
    }
  }
}

.title-abc {
  color: rgb(0, 183, 255);
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}
