// .user-profile-wrapper {
//   .list-motel {
//     ul {
//       list-style-type: none;
//       padding-left: 0;
//       li {
//         color: white;
//         .motel {
//           border-radius: 10px;
//           margin: 15px 0;
//           padding: 5px;
//           text-align: center;
//           .motel-name {
//             align-items: center;
//             display: flex;
//             justify-content: center;
//           }
//           .motel-new,
//           .motel-edit,
//           .motel-remove {
//             cursor: pointer;
//           }
//         }
//         &:nth-child(even) {
//           .motel {
//             background: #457bc5;
//           }
//         }
//         &:nth-child(odd) {
//           .motel {
//             background: #bcdfc1;
//           }
//         }
//       }
//     }
//   }
// }

// .title-abc {
//   color: rgb(0, 183, 255);
//   font-size: 18px;
//   text-align: center;
//   padding: 10px;
//   font-weight: 500;
// }


// .user-profile-wrapper {
//   width: 100%;
//   .title-abc {
//     color: rgb(0, 183, 255);
//     font-size: 18px;
//     text-align: center;
//     padding: 10px;
//     font-weight: 500;
//   }

//   .container{
//     width: 100%;
//     .host-card{
//       display: flex;
//       width: 100%;
//       flex-direction: row;
//       .icon-card{
//         display: flex;
//         //wrap
//         flex-wrap: wrap;
//         justify-content: center;
//         align-items: center;
//         background: #fb8137;
//         width: 44px;
//         min-width: 44px;
//         height: 44px;
//         min-height: 44px;
//         position: relative;
//         border: none;
//         border-radius: 50%;
//         z-index: 999;
//         top: 60px;
//         left: 70px;
//         backdrop-filter: blur(10px);
//         box-shadow: 0 0 10px 0 rgba(251,129,55, .5);
//       }
//       .card-container {
//         background: #f7f7f7;
//         min-width: 180px;
//         width: 25%;
//         border: none;
//         padding: 20px 30px;
//         border-radius: 10px;
//         position: relative;
//         top: 40px;
//         left: 0;
//         &:hover {
//           cursor: pointer;
//         }
      
//         .title {
//           font-size: 20px;
//           font-weight: 700;
//           text-align: center;
//         }
//         .detail-button{
//           .detail-text{
//             background: #eaeaea;
//             width: fit-content;
//             padding: 2px 10px;
//             font-size: 16px;
//             border-radius: 10px;
//             color: #878787;
//             transition: transform 0.3s ease-in-out;
//             &:hover{
//               background-color: #eaeaea;
//               color: #646464;
//               transform: scale(1.1);
//             }
//           }
//         }
//       }
      
//     }
//   }

//   // .user-profile{
//   //   background: gray;
//   //   .list-motel {
//   //     ul {
//   //       list-style-type: none;
//   //       padding-left: 0;
//   //       li {
//   //         color: white;
//   //         .motel {
//   //           border-radius: 10px;
//   //           margin: 15px 0;
//   //           padding: 5px;
//   //           text-align: center;
//   //           .motel-name {
//   //             align-items: center;
//   //             display: flex;
//   //             justify-content: center;
//   //           }
//   //           .motel-new,
//   //           .motel-edit,
//   //           .motel-remove {
//   //             cursor: pointer;
//   //           }
//   //         }
//   //         &:nth-child(even) {
//   //           .motel {
//   //             background: #457bc5;
//   //           }
//   //         }
//   //         &:nth-child(odd) {
//   //           .motel {
//   //             background: #bcdfc1;
//   //           }
//   //         }
//   //       }
//   //     }
//   //   }
//   // }

// }

.user-profile-wrapper {
  width: 100%;

  .title-abc {
    color: rgb(21, 93, 121);
    font-size: 22px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
  }

  .card-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;

      .motel-card {
        display: flex;
        flex-wrap: wrap; 
        min-width: 350px;
        min-height: 200px;

        @media (max-width: 767px) {
          width: 100%;
          left: 0;
        }
        .icon-card {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fb8137;
          width: 56px;
          min-width: 56px;
          height: 56px;
          min-height: 56px;
          position: relative;
          border: none;
          border-radius: 50%;
          z-index: 999;
          left: 80px;
          backdrop-filter: blur(10px);
          box-shadow: 0 0 10px 0 rgba(251, 129, 55, .5);
        }

        .card-container {
          display: flex;
          flex-direction: column;
          background: #f7f7f7;
          border: none;
          padding: 30px 30px 0px 30px;
          border-radius: 20px;
          position: relative;
          top: 25px;
          left: 0;
          justify-content: space-around;

          &:hover {
            cursor: pointer;
          }

          .card-motel-name {
            display: flex;
            align-items: center;
          }

          .motel-name {
            text-transform: uppercase;
            font-weight: 700;
            color: #6d6d6d;
          }

          .title {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
          }

          .detail-button {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .detail-text {
              background: #eaeaea;
              width: fit-content;
              padding: 5px 20px;
              font-size: 16px;
              border-radius: 10px;
              color: #878787;
              transition: transform 0.3s ease-in-out;

              &:hover {
                background-color: #eaeaea;
                color: #454545;
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }