.login-page-wrapper {
  .title {
    color: rgb(0, 183, 255);
    font-size: 18px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
  }
  .login {
    padding: 15px 0;
    position: relative;
    .link {
      color: rgb(0, 183, 255);
      font-weight: 500;
    }
    .btn-submit {
      position: absolute;
      right: 0;
      top: 11px;
      line-height: normal;
      font-weight: 500;
    }
  }
}
